<!DOCTYPE html>
<html lang="en">

<head>
    <title>PNet Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Vuejs 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/map.css">
    <!-- Custom scripts-->
    <script src="js/colors.js"></script>
    <script src="js/mapComponent.js"></script>
    <script src="js/notificationListComponent.js"></script>
</head>

<body class="m-0">
    <div id="app">
        <img class='m-1' src="img/logo.png" style="height:40px" />&nbsp;<span style="color:white">PNet <span v-if="!isSmallWidth" class="text-info">Manager</span></span>
        <div class='nav'>
            <div class="btn-group p-1" role="group" aria-label="Basic checkbox toggle button group">
                <button :class="{active: isActive['L']}" class="btn btn-outline-light rounded" @click="navBtnClick('L')"><i class="fa fa-list"></i> <span v-if="!isSmallWidth">Search</span></button>&nbsp;
                <button :class="{active: isActive['R']}" class="btn btn-outline-light rounded" @click="navBtnClick('R')"><i class="fa fa-cog"></i> <span v-if="!isSmallWidth">Settings</span></button>&nbsp;
                <button :class="{active: isActive['N']}" class="btn btn-outline-light rounded" @click="navBtnClick('N')">
                    <i class="fa fa-bell"></i> <span v-if="!isSmallWidth">Notifications</span><span v-if="notificationSize">&nbsp;<span class="badge bg-danger">{{notificationSize}}</span></span>
                </button>
            </div>
        </div>
        <div id='sideL' class="p-0 overflow-auto"></div>
        <leafmap id='map' ref="leafmap" @clicked-marker="onMapMarkerClick"></leafmap>
        <div id='sideR' class="p-0 overflow-auto">Sidebar Right</div>
        <div id='sideN' class="p-0 overflow-auto bg-dark">
            <notifications ref="notifications"></notifications>
        </div>
    </div>
</body>
<script src="js/index.js"></script>


</html>