<div class="m-0 p-0" id="editing" v-show="!showSettings">
    <!-- initially empty div -->
</div>
<div class="p-3" id="appSettings" v-show="showSettings">
    <h3 class="mb-3">Settings</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="modelTraceAllMessages" v-model="notifyAllMessages">
        <label class="form-check-label" for="modelTraceAllMessages">Trace all messages</label>
    </div>
    <!--
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="modelSeeOldChannels" v-model="seeOldChannels">
        <label class="form-check-label" for="modelSeeOldChannels">List old channels, too</label>
    </div>
    -->
</div>