RewriteEngine On
RewriteRule ^timeseries/values$ routes/ts_routes.php [NC]

RewriteEngine On
RewriteRule ^timeseries$ routes/ts_routes.php [NC]

RewriteEngine On
RewriteRule ^token$ routes/generateToken.php [NC]

RewriteEngine On
RewriteRule ^channels$ routes/routes/pnet_routes.php [NC]

RewriteEngine On
RewriteRule ^nets$ routes/routes/pnet_routes.php [NC]

RewriteEngine On
RewriteRule ^sensortypes$ routes/routes/pnet_routes.php [NC]

RewriteEngine On
RewriteRule ^sensors$ routes/routes/pnet_routes.php [NC]

RewriteEngine On
RewriteRule ^owners$ routes/routes/pnet_routes.php [NC]

RewriteEngine On
RewriteRule ^sites$ routes/routes/pnet_routes.php [NC]