<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="timeseries/values" stopProcessing="true">
                    <match url="timeseries/values" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
                <rule name="timeseries" stopProcessing="true">
                    <match url="timeseries" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
				<rule name="registration" stopProcessing="true">
                    <match url="registration" />
                    <action type="Rewrite" url="routes/registration.php" />
                </rule>
				<rule name="token" stopProcessing="true">
                    <match url="token" />
                    <action type="Rewrite" url="routes/getToken.php" />
                </rule>
				<rule name="channels" stopProcessing="true">
                    <match url="channels" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="nets" stopProcessing="true">
                    <match url="nets" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sensortypes" stopProcessing="true">
                    <match url="sensortypes" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sensors" stopProcessing="true">
                    <match url="sensors" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
