<b-overlay :show="loading" rounded="sm">
    <b-collapse v-model="settings" v-bind:id="chart.uuid+'_settings'">
        <b-card bg-variant="light">
            <b-card-text class="text-center">
                <b-form-group>
                    <b-input-group prepend="Chart title" :title="chart.uuid" size="sm">
                        <b-form-input v-model="chart.layout.title.text"></b-form-input>
                        <b-button variant="secondary" v-b-toggle="chart.uuid+'_settings'" size="sm">Close</b-button>
                    </b-input-group>
                </b-form-group>
            </b-card-text>
            <b-card>
                <b-form inline class="mb-3">
                    <label class="mr-sm-2" size="sm">X axis</label>
                    <b-input-group prepend="Title" size="sm">
                        <b-form-input v-model="chart.layout.xaxis.title.text"></b-form-input>
                    </b-input-group>
                </b-form>
                <b-form inline v-for="(yAxis, index) in yAxisList" size="sm">
                    <label class="mr-sm-2" size="sm">Y axis [{{index+1}}]</label>
                    <b-input-group prepend="Title" size="sm">
                        <b-form-input class="input" type='text' v-model="chart.layout[yAxis].title.text" size="sm"></b-form-input>&nbsp;
                        <b-form-radio-group v-model="chart.layout[yAxis].type" @input="relayout(yAxis)">
                            <b-form-radio value="linear">Linear</b-form-radio>
                            <b-form-radio value="log">Log</b-form-radio>
                        </b-form-radio-group>
                    </b-input-group>
                </b-form>
                <hr class="col-xs-12">
                <b-form inline>
                    <b-input-group prepend="Select trace" size="sm">
                        <b-form-select v-model="selectedTraceIndex" @change="selectTrace()">
                            <option v-for="(item, index) in chart.traces" v-bind:value="index">{{item.name}}</option>
                        </b-form-select>
                    </b-input-group>
                    <b-input-group prepend="Select trace type" size="sm">
                        <b-form-select v-model="chart.traces[selectedTraceIndex].type">
                            <option value="scatter">scatter</option>
                            <option value="bar">bar</option>
                        </b-form-select>
                    </b-input-group>
                </b-form>
                <b-form inline class="mt-3">
                    <b-input-group prepend="Scatter type" size="sm" v-show="isScatterTrace" class="mr-1">
                        <b-form-select v-model="chart.traces[selectedTraceIndex].mode" size="sm">
                            <option value="lines">lines</option>
                            <option value="markers">markers</option>
                            <option value="lines+markers">lines+markers</option>
                        </b-form-select>
                    </b-input-group>
                    <b-input-group prepend="Line type" size="sm" v-show="!isBarTypeTrace && !isMarkerOnlyTrace" class="mr-1">
                        <b-form-select v-model="chart.traces[selectedTraceIndex].line.shape" size="sm">
                            <option value="line">line</option>
                            <option value="spline">spline</option>
                            <option value="hv">hv</option>
                        </b-form-select>
                    </b-input-group>
                    <b-input-group prepend="Line color" size="sm" v-show="!isBarTypeTrace && !isMarkerOnlyTrace" class="mr-1">
                        <b-form-input type='color' v-model="chart.traces[selectedTraceIndex].line.color" style="width:50px"></b-form-input>
                    </b-input-group>
                    <b-input-group prepend="Line width" size="sm" v-show="!isBarTypeTrace && !isMarkerOnlyTrace" class="mr-1">
                        <b-form-input type='number' min="1" max="10" v-model="chart.traces[selectedTraceIndex].line.width"></b-form-input>
                    </b-input-group>
                    <b-input-group prepend="Marker color" size="sm" v-show="!isBarTypeTrace && !isLineOnlyTrace" class="mr-1">
                        <b-form-input type='color' v-model="chart.traces[selectedTraceIndex].marker.color" style="width:50px"></b-form-input>
                    </b-input-group>
                    <b-input-group prepend="Marker size" size="sm" v-show="!isBarTypeTrace && !isLineOnlyTrace" class="mr-1">
                        <b-form-input type='number' min="1" max="10" v-model="chart.traces[selectedTraceIndex].marker.size"></b-form-input>
                    </b-input-group>
                    <b-input-group prepend="Bar color" size="sm" v-show="isBarTypeTrace" class="mr-1">
                        <b-form-input type='color' v-model="chart.traces[selectedTraceIndex].marker.color" style="width:50px"></b-form-input>
                    </b-input-group>
                </b-form>

    </b-collapse>
    <div class="text-danger text-center">{{ tsLoadingErrorResult }}</div>
    <div class="row chart-container">
        <div :ref="chart.uuid" v-bind:id="chart.uuid" class='col-12 plotly-plot'></div>
    </div>
    <b-overlay>