<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="query" stopProcessing="true">
                    <match url="^station/1/query$" />
                    <action type="Rewrite" url="routes/fdsn_station.php" />
                </rule>
                <rule name="version" stopProcessing="true">
                    <match url="^station/1/version$" />
                    <action type="Rewrite" url="version.txt" />
                </rule>
                <rule name="application.wadl" stopProcessing="true">
                    <match url="^station/1/application.wadl$" />
                    <action type="Rewrite" url="application.xml" />
                </rule>
                <rule name="swagger.json" stopProcessing="true">
                    <match url="^station/1/swagger.json$" />
                    <action type="Rewrite" url="swagger/fdsnws.json" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
