<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="station" stopProcessing="true">
                    <match url="^station/1/query$" />
                    <action type="Rewrite" url="routes/fdsn_station.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
