RewriteEngine On

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^swagger/tsdsystem(/)?$ swagger-ui/dist/tsdsystem.php [NC]
RewriteRule ^swagger/fdsn(/)?$ swagger-ui/dist/fdsn.php [NC]
RewriteRule ^swagger/oedatarep(/)?$ swagger-ui/dist/oedatarep.php [NC]