<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Swagger TSDSystem-->
                <rule name="swagger/tsdsystem" stopProcessing="true">
                    <match url="^swagger/tsdsystem(/)?$" />
                    <action type="Redirect" url="swagger-ui/dist/tsdsystem.php" />
                </rule>
                <!-- Swagger FDSN Station -->
                <rule name="swagger/fdsn" stopProcessing="true">
                    <match url="^swagger/fdsn(/)?$" />
                    <action type="Redirect" url="swagger-ui/dist/fdsn.php" />
                </rule>
                <!-- Swagger OEDataRep -->
                <rule name="swagger/datarep" stopProcessing="true">
                    <match url="^swagger/oedatarep(/)?$" />
                    <action type="Redirect" url="swagger-ui/dist/oedatarep.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
