RewriteEngine On

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^token(/)$ routes/generateToken.php [NC]

RewriteRule ^users(/)?$ routes/getUsers.php [NC]
RewriteRule ^users/([0-9]+)(/)?$ routes/getUsers.php?id=$1 [NC,QSA]
RewriteRule ^users/([0-9]+)/permissions(/)?$ permissions/member/$1 [NC,QSA]
RewriteRule ^users/([0-9]+)/roles(/)?$ roles/mapping/?member_id=$1 [NC,QSA]
RewriteRule ^users/([0-9]+)/roles/([0-9]+)(/)?$ roles/mapping/?member_id=$1&role_id=$2 [NC,QSA]
RewriteRule ^roles(/)?$ routes/getRoles.php [NC]
RewriteRule ^roles/([0-9]+)(/)?$ routes/getRoles.php?id=$1 [NC,QSA]
RewriteRule ^roles/([0-9]+)/permissions(/)?$ permissions/role/$1 [NC,QSA]
RewriteRule ^roles/([0-9]+)/members(/)?$ roles/mapping/?role_id=$1 [NC,QSA]
RewriteRule ^roles/([0-9]+)/members/([0-9]+)(/)?$ roles/mapping/?member_id=$2&role_id=$1 [NC,QSA]
RewriteRule ^roles/mapping(/)?$ routes/getRolesMapping.php [NC]
RewriteRule ^permissions/(member|role)(/)$ routes/getPermissions.php?role_type=$1 [NC]
RewriteRule ^permissions/(member|role)/([0-9]+)(/)$ routes/getPermissions.php??role_type=$1&role_id=$2 [NC, QSA]

RewriteRule ^timeseries/values(/)?$ routes/ts_routes.php [NC]
RewriteRule ^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/values(/)?$ routes/ts_routes.php?id=$1 [NC,QSA]

RewriteRule ^timeseries(/)?$ routes/ts_routes.php [NC]
RewriteRule ^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})(/)?$ routes/ts_routes.php?id=$1 [NC,QSA]


RewriteRule ^channels(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^channels/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^channels/clone(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^channels/([0-9]+)/clone(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^nets(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^nets/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^sensortypes(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^sensortypes/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^sensors(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^sensors/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^owners(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^owners/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^sites(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^sites/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^swagger(/)?$ swagger-ui/dist/tsdsystem.php [NC]