RewriteEngine On

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^token$ routes/generateToken.php [NC]
RewriteRule ^permissions/member$ routes/getPermissions.php [NC]
RewriteRule ^permissions/role$ routes/getPermissions.php [NC]
RewriteRule ^users(/)?$ routes/getUsers.php [NC]
RewriteRule ^roles(/)?$ routes/getRoles.php [NC]
RewriteRule ^roles/mapping(/)?$ routes/getRoles.php [NC]


RewriteRule ^timeseries/values(/)?$ routes/ts_routes.php [NC]
RewriteRule ^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/values(/)?$ routes/ts_routes.php?id=$1 [NC,QSA]

RewriteRule ^timeseries(/)?$ routes/ts_routes.php [NC]
RewriteRule ^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})(/)?$ routes/ts_routes.php?id=$1 [NC,QSA]


RewriteRule ^channels(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^channels/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^channels/clone(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^channels/([0-9]+)/clone(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^nets(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^nets/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^sensortypes(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^sensortypes/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^sensors(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^sensors/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^owners(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^owners/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]

RewriteRule ^sites(/)?$ routes/pnet_routes.php [NC]
RewriteRule ^sites/([0-9]+)(/)?$ routes/pnet_routes.php?id=$1 [NC,QSA]