<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Token -->
				<rule name="token" stopProcessing="true">
                    <match url="^token$" />
                    <action type="Rewrite" url="routes/generateToken.php" />
                </rule>
                <!-- Administration -->
                <rule name="users" stopProcessing="true">
                    <match url="^users(/)?$" />
                    <action type="Rewrite" url="routes/getUsers.php" />
                </rule>
                <rule name="users/{id}" stopProcessing="true">
                    <match url="^users/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/getUsers.php?id={R:1}" />
                </rule>
                <rule name="users/{id}/permissions" stopProcessing="false">
                    <match url="^users/([0-9]+)/permissions(/)?$" />
                    <action type="Rewrite" url="permissions/member/{R:1}" />
                </rule>
                <rule name="users/{id}/roles" stopProcessing="false">
                    <match url="^users/([0-9]+)/roles(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?member_id={R:1}" />
                </rule>
                <rule name="users/{id}/roles/{role_id}" stopProcessing="false">
                    <match url="^users/([0-9]+)/roles/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?member_id={R:1}&amp;role_id={R:2}" />
                </rule>
                <rule name="roles" stopProcessing="true">
                    <match url="^roles(/)?$" />
                    <action type="Rewrite" url="routes/getRoles.php" />
                </rule>
                <rule name="roles/{id}" stopProcessing="true">
                    <match url="^roles/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/getRoles.php?id={R:1}" />
                </rule>
                <rule name="roles/{id}/permissions" stopProcessing="false">
                    <match url="^roles/([0-9]+)/permissions(/)?$" />
                    <action type="Rewrite" url="permissions/role/{R:1}" />
                </rule>
                <rule name="roles/{id}/members" stopProcessing="false">
                    <match url="^roles/([0-9]+)/members(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?role_id={R:1}" />
                </rule>
                <rule name="roles/{id}/members/{mamber_id}" stopProcessing="false">
                    <match url="^roles/([0-9]+)/members/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?member_id={R:2}&amp;role_id={R:1}" />
                </rule>
                <rule name="roles/mapping" stopProcessing="true">
                    <match url="^roles/mapping(/)?$" />
                    <action type="Rewrite" url="routes/getRolesMapping.php" />
                </rule>
                <rule name="permissions" stopProcessing="true">
                    <match url="^permissions/(member|role)(/)?$" />
                    <action type="Rewrite" url="routes/getPermissions.php?role_type={R:1}" />
                </rule>
                <rule name="permissionsById" stopProcessing="true">
                    <match url="^permissions/(member|role)/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/getPermissions.php?role_type={R:1}&amp;role_id={R:2}" />
                </rule>
                <!-- PNet -->
                <rule name="owners" stopProcessing="true">
                    <match url="^owners(/)?$" />
                    <action type="Rewrite" url="routes/owners.php" />
                </rule>
                <rule name="owners/{id}" stopProcessing="true">
                    <match url="^owners/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/owners.php?id={R:1}" />
                </rule>
                <rule name="owners/{id}/nets" stopProcessing="false">
                    <match url="^owners/([0-9]+)/nets(/)?$" />
                    <action type="Rewrite" url="nets/?owner_id={R:1}" />
                </rule>
                <rule name="sites" stopProcessing="true">
                    <match url="^sites(/)?$" />
                    <action type="Rewrite" url="routes/sites.php" />
                </rule>
                <rule name="sites/{id}" stopProcessing="true">
                    <match url="^sites/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/sites.php?id={R:1}" />
                </rule>
                <rule name="sites/{id}/stations" stopProcessing="false">
                    <match url="^sites/([0-9]+)/stations(/)?$" />
                    <action type="Rewrite" url="stations/?site_id={R:1}" />
                </rule>
                <rule name="nets" stopProcessing="true">
                    <match url="^nets(/)?$" />
                    <action type="Rewrite" url="routes/nets.php" />
                </rule>
                <rule name="nets/{id}" stopProcessing="true">
                    <match url="^nets/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/nets.php?id={R:1}" />
                </rule>
                <rule name="nets/{id}/stations" stopProcessing="false">
                    <match url="^nets/([0-9]+)/stations(/)?$" />
                    <action type="Rewrite" url="stations/?net_id={R:1}" />
                </rule>
                <rule name="stations" stopProcessing="true">
                    <match url="^stations(/)?$" />
                    <action type="Rewrite" url="routes/stations.php" />
                </rule>
                <rule name="stations/{id}" stopProcessing="true">
                    <match url="^stations/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/stations.php?id={R:1}" />
                </rule>
                <rule name="stations/{id}/configs" stopProcessing="false">
                    <match url="^stations/([0-9]+)/configs(/)?$" />
                    <action type="Rewrite" url="stations/configs/?station_id={R:1}" />
                </rule>
                <rule name="stations/{id}/channels" stopProcessing="false">
                    <match url="^stations/([0-9]+)/channels(/)?$" />
                    <action type="Rewrite" url="channels/?station_id={R:1}" />
                </rule>
                <rule name="stations/configs" stopProcessing="true">
                    <match url="^stations/configs(/)?$" />
                    <action type="Rewrite" url="routes/station_configs.php" />
                </rule>
                <rule name="stations/configs/{id}" stopProcessing="true">
                    <match url="^stations/configs/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/station_configs.php?id={R:1}" />
                </rule>
                <rule name="stations/configs/{id}/channels" stopProcessing="false">
                    <match url="^stations/configs/([0-9]+)/channels(/)?$" />
                    <action type="Rewrite" url="channels/?station_config_id={R:1}" />
                </rule>
                <rule name="stations/configs/{id}/generateChannels" stopProcessing="false">
                    <match url="^stations/configs/([0-9]+)/generateChannels(/)?$" />
                    <action type="Rewrite" url="routes/station_configs.php?id={R:1}&amp;generateChannels=1" />
                </rule>
                <rule name="sensortype_categories" stopProcessing="true">
                    <match url="^sensortype_categories(/)?$" />
                    <action type="Rewrite" url="routes/sensortype_categories.php" />
                </rule>
                <rule name="sensortype_categories/{id}" stopProcessing="true">
                    <match url="^sensortype_categories/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/sensortype_categories.php?id={R:1}" />
                </rule>
                <rule name="sensortype_categories/{id}/sensortypes" stopProcessing="false">
                    <match url="^sensortype_categories/([0-9]+)/sensortypes(/)?$" />
                    <action type="Rewrite" url="sensortypes/?sensortype_category_id={R:1}" />
                </rule>
                <rule name="sensortypes" stopProcessing="true">
                    <match url="^sensortypes(/)?$" />
                    <action type="Rewrite" url="routes/sensortypes.php" />
                </rule>
                <rule name="sensortypes/{id}" stopProcessing="true">
                    <match url="^sensortypes/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/sensortypes.php?id={R:1}" />
                </rule>
                <rule name="sensortypes/{id}/sensors" stopProcessing="false">
                    <match url="^sensortypes/([0-9]+)/sensors(/)?$" />
                    <action type="Rewrite" url="sensors/?sensortype_id={R:1}" />
                </rule>
                <rule name="sensors" stopProcessing="true">
                    <match url="^sensors(/)?$" />
                    <action type="Rewrite" url="routes/sensors.php" />
                </rule>
                <rule name="sensors/{id}" stopProcessing="true">
                    <match url="^sensors/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/sensors.php?id={R:1}" />
                </rule>
                <rule name="digitizertypes" stopProcessing="true">
                    <match url="^digitizertypes(/)?$" />
                    <action type="Rewrite" url="routes/digitizertypes.php" />
                </rule>
                <rule name="digitizertypes/{id}" stopProcessing="true">
                    <match url="^digitizertypes/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/digitizertypes.php?id={R:1}" />
                </rule>
                <rule name="digitizertypes/{id}/digitizers" stopProcessing="false">
                    <match url="^digitizertypes/([0-9]+)/digitizers(/)?$" />
                    <action type="Rewrite" url="digitizers/?digitizertype_id={R:1}" />
                </rule>
                <rule name="digitizers" stopProcessing="true">
                    <match url="^digitizers(/)?$" />
                    <action type="Rewrite" url="routes/digitizers.php" />
                </rule>
                <rule name="digitizers/{id}" stopProcessing="true">
                    <match url="^digitizers/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/digitizers.php?id={R:1}" />
                </rule>
				<rule name="channels" stopProcessing="true">
                    <match url="^channels(/)?$" />
                    <action type="Rewrite" url="routes/channels.php" />
                </rule>
                <rule name="channels/{id}" stopProcessing="true">
                    <match url="^channels/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/channels.php?id={R:1}" />
                </rule>
                <rule name="channels/{id}/timeseries" stopProcessing="false">
                    <match url="^channels/([0-9]+)/timeseries(/)?$" />
                    <action type="Rewrite" url="timeseries/?channel_id={R:1}" />
                </rule>
                <!-- Timeseries -->
                <rule name="timeseries/values" stopProcessing="true">
                    <match url="^timeseries/values(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
                <rule name="timeseries/{id}/values" stopProcessing="true">
                    <match url="^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/values(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php?id={R:1}" />
                </rule>
                <rule name="timeseries" stopProcessing="true">
                    <match url="^timeseries(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
                <rule name="timeseries/{id}" stopProcessing="true">
                    <match url="^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php?id={R:1}" />
                </rule>
                <rule name="timeseries/{id}/update_first_time" stopProcessing="true">
                    <match url="^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/(update_first_time)(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php?id={R:1}&amp;{R:2}" />
                </rule>
                <!-- Swagger -->
                <rule name="swagger.json" stopProcessing="true">
                    <match url="^swagger.json$" />
                    <action type="Rewrite" url="swagger/tsdsystem.json" />
                </rule>
                <rule name="version" stopProcessing="true">
                    <match url="^version$" />
                    <action type="Rewrite" url="version.txt" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
