<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="timeseries/values" stopProcessing="true">
                    <match url="^timeseries/values(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
                <rule name="timeseries" stopProcessing="true">
                    <match url="^timeseries(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
				<rule name="token" stopProcessing="true">
                    <match url="^token$" />
                    <action type="Rewrite" url="routes/generateToken.php" />
                </rule>
                <rule name="permissions/member" stopProcessing="true">
                    <match url="^permissions/member(/)?$" />
                    <action type="Rewrite" url="routes/getPermissions.php" />
                </rule>
                 <rule name="permissions/role" stopProcessing="true">
                    <match url="^permissions/role(/)?$" />
                    <action type="Rewrite" url="routes/getPermissions.php" />
                </rule>
                <rule name="users" stopProcessing="true">
                    <match url="^users(/)?$" />
                    <action type="Rewrite" url="routes/getUsers.php" />
                </rule>
                <rule name="roles" stopProcessing="true">
                    <match url="^roles(/)?$" />
                    <action type="Rewrite" url="routes/getRoles.php" />
                </rule>
                <rule name="roles/mapping" stopProcessing="true">
                    <match url="^roles/mapping(/)?$" />
                    <action type="Rewrite" url="routes/getRoles.php" />
                </rule>
				<rule name="channels" stopProcessing="true">
                    <match url="^channels(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="channels/clone" stopProcessing="true">
                    <match url="^channels/clone(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="nets" stopProcessing="true">
                    <match url="^nets(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sensortypes" stopProcessing="true">
                    <match url="^sensortypes(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sensors" stopProcessing="true">
                    <match url="^sensors(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="owners" stopProcessing="true">
                    <match url="^owners(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sites" stopProcessing="true">
                    <match url="^sites(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
