<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Token -->
				<rule name="token" stopProcessing="true">
                    <match url="^token$" />
                    <action type="Rewrite" url="routes/generateToken.php" />
                </rule>
                <!-- Administration -->
                <rule name="users" stopProcessing="true">
                    <match url="^users(/)?$" />
                    <action type="Rewrite" url="routes/getUsers.php" />
                </rule>
                <rule name="users/{id}" stopProcessing="true">
                    <match url="^users/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/getUsers.php?id={R:1}" />
                </rule>
                <rule name="users/{id}/permissions" stopProcessing="false">
                    <match url="^users/([0-9]+)/permissions(/)?$" />
                    <action type="Rewrite" url="permissions/member/{R:1}" />
                </rule>
                <rule name="users/{id}/roles" stopProcessing="false">
                    <match url="^users/([0-9]+)/roles(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?member_id={R:1}" />
                </rule>
                <rule name="users/{id}/roles/{role_id}" stopProcessing="false">
                    <match url="^users/([0-9]+)/roles/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?member_id={R:1}&amp;role_id={R:2}" />
                </rule>
                <rule name="roles" stopProcessing="true">
                    <match url="^roles(/)?$" />
                    <action type="Rewrite" url="routes/getRoles.php" />
                </rule>
                <rule name="roles/{id}" stopProcessing="true">
                    <match url="^roles/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/getRoles.php?id={R:1}" />
                </rule>
                <rule name="roles/{id}/permissions" stopProcessing="false">
                    <match url="^roles/([0-9]+)/permissions(/)?$" />
                    <action type="Rewrite" url="permissions/role/{R:1}" />
                </rule>
                <rule name="roles/{id}/members" stopProcessing="false">
                    <match url="^roles/([0-9]+)/members(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?role_id={R:1}" />
                </rule>
                <rule name="roles/{id}/members/{mamber_id}" stopProcessing="false">
                    <match url="^roles/([0-9]+)/members/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="roles/mapping/?member_id={R:2}&amp;role_id={R:1}" />
                </rule>
                <rule name="roles/mapping" stopProcessing="true">
                    <match url="^roles/mapping(/)?$" />
                    <action type="Rewrite" url="routes/getRolesMapping.php" />
                </rule>
                <rule name="permissions" stopProcessing="true">
                    <match url="^permissions/(member|role)(/)?$" />
                    <action type="Rewrite" url="routes/getPermissions.php?role_type={R:1}" />
                </rule>
                <rule name="permissionsById" stopProcessing="true">
                    <match url="^permissions/(member|role)/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/getPermissions.php?role_type={R:1}&amp;role_id={R:2}" />
                </rule>
                <!-- PNet -->
                <rule name="sensors" stopProcessing="true">
                    <match url="^sensors(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sensors/{id}" stopProcessing="true">
                    <match url="^sensors/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                <rule name="sensors/{id}/channels" stopProcessing="false">
                    <match url="^sensors/([0-9]+)/channels(/)?$" />
                    <action type="Rewrite" url="channels/?sensor_id={R:1}" />
                </rule>
				<rule name="channels" stopProcessing="true">
                    <match url="^channels(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="channels/{id}" stopProcessing="true">
                    <match url="^channels/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                <rule name="channels/clone" stopProcessing="true">
                    <match url="^channels/clone(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="channels/{id}/clone" stopProcessing="true">
                    <match url="^channels/([0-9]+)/clone(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                <rule name="channels/{id}/timeseries" stopProcessing="false">
                    <match url="^channels/([0-9]+)/timeseries(/)?$" />
                    <action type="Rewrite" url="timeseries/?channel_id={R:1}" />
                </rule>
                <rule name="nets" stopProcessing="true">
                    <match url="^nets(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="nets/{id}" stopProcessing="true">
                    <match url="^nets/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                <rule name="sensortypes" stopProcessing="true">
                    <match url="^sensortypes(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sensortypes/{id}" stopProcessing="true">
                    <match url="^sensortypes/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                
                <rule name="owners" stopProcessing="true">
                    <match url="^owners(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="owners/{id}" stopProcessing="true">
                    <match url="^owners/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                <rule name="sites" stopProcessing="true">
                    <match url="^sites(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php" />
                </rule>
                <rule name="sites/{id}" stopProcessing="true">
                    <match url="^sites/([0-9]+)(/)?$" />
                    <action type="Rewrite" url="routes/pnet_routes.php?id={R:1}" />
                </rule>
                <!-- Timeseries -->
                <rule name="timeseries/values" stopProcessing="true">
                    <match url="^timeseries/values(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
                <rule name="timeseries/{id}/values" stopProcessing="true">
                    <match url="^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/values(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php?id={R:1}" />
                </rule>
                <rule name="timeseries" stopProcessing="true">
                    <match url="^timeseries(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php" />
                </rule>
                <rule name="timeseries/{id}" stopProcessing="true">
                    <match url="^timeseries/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})(/)?$" />
                    <action type="Rewrite" url="routes/ts_routes.php?id={R:1}" />
                </rule>
                <!-- Swagger -->
                <rule name="swagger" stopProcessing="true">
                    <match url="^swagger(/)?$" />
                    <action type="Redirect" url="swagger-ui/dist/tsdsystem.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
